adafruit-circuitpython-sht31d
adafruit-circuitpython-bme280
adafruit-circuitpython-dht
adafruit-circuitpython-htu21d
adafruit-circuitpython-dht
adafruit-circuitpython-ahtx0
barbudor-circuitpython-ina3221
requests
meteocalc